#canvas {
  width: 100%;
  height: 100%;
  display: block;
  cursor: crosshair;
}

#cursor {
  display: block;
  cursor: none;
  z-index: 1;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
