#loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  animation: blur-in 0.1s linear 0s 1 forwards;
  justify-content: center;
  align-items: center;
}

#loader-indicators {
  font-size: 4rem;
  letter-spacing: 5px;
  color: white;
  animation: bounce-letter-spacing 0.5s linear 0s infinite;
}

@keyframes blur-in {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}

@keyframes bounce-letter-spacing {
  0% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 5px;
  }
}
