:root {
  --button-size: 40px;
  --button-space: 8px;
  --panel-height: 180px;
  --panel-spacing: 8px;
}

#panel {
  height: var(--panel-height);
  min-height: var(--panel-height);
  width: 100%;
  background-color: gainsboro;
  box-shadow: inset 0px 4px 0px silver;
  padding: var(--panel-spacing);
  padding-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#left-panel-column {
  flex: 1;
}

#right-panel-column {
  flex: 0;
}

.panel-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 12px;
}

.panel-row.spaced {
  justify-content: space-between;
}

.panel-row ui-button,
.panel-row color-button,
.panel-row tool-button,
.panel-row variant-button,
.panel-row variant-stamp-button {
  margin-right: var(--button-space);
}

.panel-row ui-button:last-child,
.panel-row color-button:last-child,
.panel-row tool-button:last-child,
.panel-row variant-button:last-child,
.panel-row variant-stamp-button:last-child {
  margin-right: 0px;
}

#tools {
  display: flex;
  flex: 1;
}

#actions {
  margin-left: 32px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #right-panel-column {
    position: absolute;
    bottom: 0px;
    right: var(--panel-spacing);
  }
}
