:root {
  --button-size: 40px;
  --button-space: 8px;
  --panel-height: 180px;
}

#panel {
  height: var(--panel-height);
  min-height: var(--panel-height);
  width: 100%;
  background-color: gainsboro;
  box-shadow: inset 0px 4px 0px silver;
  padding: 12px 8px 8px 8px;
}

.panel-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 12px;
}

.panel-row.spaced {
  justify-content: space-between;
}

.panel-row button {
  margin-right: var(--button-space);
  width: var(--button-size);
  height: var(--button-size);
  border: 2px solid black;
  border-radius: 6px;
}

.panel-row button:last-child {
  margin-right: 0px;
}

.panel-row button.active {
  border: 2px solid white;
  box-shadow: 0px 0px 0px 4px orange;
}

#actions {
  margin-left: 32px;
}
